*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #e3dcf5;
}

.container{
    background-color: #ffffff;
    width: 90vmin;
    padding: 50px 30px;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    border-radius: 10px;
    box-shadow: 0 25px 50px rgba(7, 20, 35, 0.2);
}

.toolbar{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 15px;
}

.toolbar select {
  font-family: "Poppins", sans-serif;
}

select {
    padding: 7px;
    border: 1px solid #575757;
    border-radius: 3px;
}

.toolbar button{
    height: 28px;
    width: 28px;
    display: grid;
    place-items: center;
    border-radius: 3px;
    border: none;
    background-color: #ffffff;
    outline: none;
    color: #020929;
    cursor: pointer;
}

.toolbar button:hover{
    box-shadow: none;
    background-color: #a88d8d;
}

.active{
    background-color: #a88d8d;
}

#text-input{
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid #dddddd;
    padding: 20px;
    height: 30vh;
    overflow-y: auto;
}

.html-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#html-button{
    height: 28px;
    padding: 7px;
    border: 1px solid #575757;
    border-radius: 3px;
    border-radius: 3px;
    background-color: #ffffff;
    color: #020929;
    cursor: pointer;
}

#html-content{
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid #dddddd;
    padding: 20px;
    height: 30vh;
    overflow-y: auto;
    white-space: pre-line;
}